html, body {
    width: 100%;
    height: auto;
    margin: 0;
}
body {
    background: url("https://i.imgur.com/oe6cSKE.png");
}
.tab-color.white {
    background-color: white;
}
.tab-color.red {
    background-color: red;
}
.tab-color.orange {
    background-color: orange;
}
.tab-color.yellow {
    background-color: yellow;
}
.tab-color.green {
    background-color: green;
}
.tab-color.blue {
    background-color: blue;
}
.tab-color.purple {
    background-color: purple;
}
.tab-color.brown {
    background-color: brown;
}
.tab-color.black {
    background-color: black;
}
#top-logo {
    display: inline;
    position: absolute;
    left: 80px;
}
#top-logo img {
    width: 80px;
}
#navigation {
    background-color: #FFFFFF;
    position: sticky;
    top: 0px;
    height: 80px;
    line-height: 80px;
    border-bottom: 2px solid #964B00;
    background-color: #303030;
}
#navigation a {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    margin: 0 40px 0 40px;
    /* transition: all 1.2s ease; */
}
#navigation a:hover {
    color: #bc5e00;
    transition: all .5s ease;
}
#header-nav {
    justify-content: flex-start;
    display: flex;
    margin: auto;
    width: 1200px;
}

a:link {
    text-decoration: none;
    color: #303030;
}

a:visited {
    color: #303030;
}

#body-container {
    width: 1200px;
    height: auto;
    margin:  0 auto;
    overflow: hidden;
    border: 1px solid #964B00;
    border-bottom: none;
    border-top: unset;
    background-color: white;
}

.button {
    background-color: white; /* Green */
    border: 1px solid black;
    border-bottom: none;
    color: black;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px 10px 0 0;
    outline: none;
    cursor: pointer;
    width: 90px;
}
#body-container #tab-navigation {
    border-bottom: 1px solid black;
    width: fit-content;
    text-align: center;
    margin: auto;
}
#body-container #tab-navigation .button.selected {
    background-color: #f5f5dc; /* Green */
}
#body-container #body-content {
    float: left;
    width: 1000px;
    height: auto;
}
#body-container #body-content #tab-container {
    padding: 10px;
    padding-top: 40px;
}
#body-container #body-content #tab-container .item-type-menu-bar {
    width: 50px;
    border: 1px solid gray;
    border-bottom: 0px;
    margin-left: 69px;
    margin-top: 40px;
    text-align: center;
    padding: 13px 30px;
    background-color: lightgray;
}
#body-container #body-content #tab-container .item-content {
    width: 800px;
    margin: auto;
    /* margin-top: 20px; */
    text-align: center;
    border: 1px solid gray;
    padding: 20px;
    background-color: lightgray;
}
#body-container #body-content #tab-container .item-content img {
    margin-top: 8px;
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}
#body-container #body-content #tab-container .item-content h2 {
    margin: 0px;
    margin-bottom: 10px;
}
#body-container #body-sidebar {
    float: right;
    width: 200px;
    min-height: 1080px;
    box-sizing: border-box;
    border-left: 1px solid #964B00;
}
#body-container #body-sidebar #content {
    padding: 10px;
}
#footer {
    width: 100%;
    height: 200px;
    border-top: 3px solid #964B00;
    background-color: #303030;
}
#footer-body {
    width: 1200px;
    height: auto;
    margin:  0 auto;
    overflow: hidden;
    border-right: 1px solid white;
    border-left: 1px solid white;
}